<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290099511853-fbc4nudplnjibmhs59b0r5c62bqgdjrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290099511853-fbc4nudplnjibmhs59b0r5c62bqgdjrn</string>
	<key>API_KEY</key>
	<string>AIzaSyBsBdd95RUJQtPqkP27OOJUNxlkVEH9-mw</string>
	<key>GCM_SENDER_ID</key>
	<string>290099511853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uit</string>
	<key>PROJECT_ID</key>
	<string>kluit-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>kluit-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290099511853:ios:0382acbca1a212497eaea4</string>
</dict>
</plist>